@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-800 text-gray-100;
  @apply scrollbar-thumb-gray-500 scrollbar-thin;
  -webkit-font-smoothing: antialiased
}

@layer base {
  html {
    user-select: none;
    font-family: 'Poppins', sans-serif;
    height: 100%;
    min-height: 100vh;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  body {
    height: 100%;
    min-height: 100vh;
  }
}